html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 60px;
  right: 40px;
  display: none;
}

#names-expand-list{
    display: block;
    position: fixed;
    max-height: 300px;
    min-height: fit-content;
    width: 280px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
}

.names-expand-td {
    width: 280px;
}

#cross-icon {
    float:right;
}